<h1>Listes des transactions</h1>
<hr />

<table>
  <% @trades.each do |t| %>
      <tr>
        <td><%= t[0] %></td>
        <td><%= t[1] %></td>
        <td><%= t[2] %></td>
        <td><%= t[3] %>€</td>
        <td><%= t[4] %></td>
        <td><span>---- pour ---></span></td>
        <td><%= t[5] %></td>
      </tr>
  <% end %>
</table>
