<h1>Ajouter un trader</h1>
<hr />
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>
<p>Merci de remplir le formulaire ci-dessous</p>
<%= form_for TradeForm.new, as: :trade, :url=>{:action => 'create'} do |t|%>
    <div class="fields">
      <%= t.label :trader_name, 'Trader'%>
      <%= t.text_field :trader_name, :class => 'auto-trader' %>
    </div>
    <div class="fields">
      <%= t.label :action_name, 'Action' %>
      <%= t.text_field :action_name, :class=>'auto-action' %>
    </div>
    <div class="fields">
      <%= t.label :quantity, 'Quantité' %>
      <%= t.text_field :quantity %>
    </div>

    <div class="actions">
      <%= t.submit 'Register' %>
    </div>
<% end %>
