
<h1>Ajouter une action</h1>
<hr />
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>
<p>Merci de remplir le formulaire ci-dessous</p>
<%= form_for Action.new, as: :act_item, :url=>{:action => 'create'} do |a|%>
    <div class="fields">
      <%= a.label :name %>
      <%= a.text_field :name %>
    </div>
    <div class="fields">
      <%= a.label :price, 'Prix' %>
      <%= a.text_field :price %>
    </div>
    <div class="actions">
      <%= a.submit 'Register' %>
    </div>
<% end %>
