<h1><%= @trader.name -%></h1>
<h2>trader n°<%= @trader.id -%></h2>
<hr />
    <table>
      <% @sells.each do |s| -%>
          <tr>
            <td><%= s.date %></td>
            <td><%= s.action.name %></td>
            <td><%= s.quantity %></td>
            <td><%= s.price %></td>
          </tr>
      <% end -%>
    </table>
